{% load tailwind_tags %}

{% load static %}
{% block content %}
{% tailwind_css %}
<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

<div class="min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat" style="background-image: url('{% static 'images/background (2).png' %}');">
  <div class="max-w-md w-full mx-4 p-4 bg-white/90 backdrop-blur-sm border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800/90 dark:border-gray-700">
    <form class="space-y-4" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <h5 class="text-2xl  font-bold text-gray-900 dark:text-white text-center">Sign in</h5>
      <div>
          <label for="{{ form.username.id_for_label }}" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="name@company.com" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
      </div>
      <div>
          <label for="{{ form.password.id_for_label }}" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
      </div>
      <div class="flex items-start">
          <div class="flex items-start">
              <div class="flex items-center h-5">
                  <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
              </div>
              <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
          </div>
          <a href="{% url 'users:password_reset' %}" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Forgot Password?</a>
      </div>
      <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300 text-center">
          Not registered? <a href="{% url 'users:register' %}" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
